@import './utils/mixins';
@import './utils/var';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@include general-style-home;

.header {
    @include header-style;
}

.search {
    @include bar-template;
}

.list {
    @include buttons-template;
}

.recipes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 85px 20px 85px;
    &__article {
        background-color: #E7E7E7;
        border-radius: .3125rem;
        height: 364px;
        margin-bottom: 2.5rem;
        position: relative;
        width: 380px;
    }
    &__image {
        width: 380px;
        height: 178px;
    }
    &__text {
        
    }
    &__title {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        margin:25px 20px;
    }
    &__infos {
        display: flex;
        justify-content: space-between;
        margin:25px 20px;
    }
    &__ingredients, &__instructions {
        font-size: 12px;
        width: 171px;
        height: 109px;
        text-overflow: ellipsis;
        overflow: hidden;

    }
}